@model Lab4.Models.ComputerModel
@{
    ViewBag.Title = "HHInput";
}
<body>
    <header>
        <h1>HHInput</h1>
    </header>
    <p>Please fill out the form below</p>
    @using (Html.BeginForm(FormMethod.Post))
    {
        <div class="form-group">
            @Html.Label("Name", "Name", new {@class = "control-label"})
            @Html.TextBox("Name",Model.Name, new {@class="form-control"})
            @Html.ValidationMessage("Name",Model.Name )
        </div>
        <div class="form-group">
            @Html.Label("Password", "Password", new{@class = "control-label"})
            @Html.Password("Password",Model.Password, new{@class="form-control"})
            @Html.ValidationMessage("Password",Model.Password )
        </div>
        <div class="form-group">
            @Html.Label("IPAddress", "IPAddress", new{@class = "control-label"})
            @Html.TextBox("IPAddress",Model.IPAddress, new{@class="form-control"})
            @Html.ValidationMessage("IPAddress",Model.IPAddress )
        </div>
        <div class="form-group">
            @Html.Label("Location", "Location", new{@class = "control-label"})
            @Html.TextBox("Location",Model.Location, new{@class="form-control"})
            @Html.ValidationMessage("Location",Model.Location )
        </div>
        <div class="form-group">
            @Html.Label("OS", "OS", new{@class = "control-label"})
            @Html.DropDownList("OS",new SelectList(Lab4.Models.ComputerModel.OSTypes), "Select OS Type", new{@class="form-control"})
            @Html.ValidationMessage("OS",Model.OS )
        </div>
        <div class="form-group">
            @Html.Label("Description", "Description", new{@class = "control-label"})
            @Html.TextBox("Description",Model.Description, new{@class="form-control"})
            @Html.ValidationMessage("Description",Model.Description )
        </div>
        <div class="form-group">
            @Html.Label("SupportedMonitors", "SupportedMonitors", new{@class = "control-label"})
            @Html.TextBox("SupportedMonitors",Model.SupportedMonitors, new{@class="form-control", type="number"})
            @Html.ValidationMessage("SupportedMonitors",Model.SupportedMonitors )

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    }
</body>